@model IPagedList<StoreVirtual.Models.Categoria>
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

leandro
@foreach (Categoria item in Model)
{
    @item.Nome
    <br />
    
}


@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))